body {
	font-family: Arial, sans-serif;
	background-color: #191970;

}
.button{
	margin-top:50px;
	padding:10px;
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	border:solid thin;
	background-color: #FF7518;
}
.button:hover{
	cursor: pointer;
}
h1 {
	color:#FF7518;
}
#gallery {
	text-align: center;
}

#gallery figure {
	margin: 0;
}

#gallery ul {
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: center;
}

#gallery li {
	margin: 0 5px;
}

#gallery img {
	cursor: pointer;
	transition: filter 0.3s ease;
}

#gallery figcaption {
	margin-top: 10px;
	font-size: 18px;
	color: #FF7518;
}
